<section class="inner-page">
      <div class="slider-item py-5" style="background-image: url('img/slider-2.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 class="text-white">Despre noi</h1>
            </div>
          </div>
        </div>

      </div>
    </section>
    
    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-lg-3 mb-5">
            <img src="img/slider-1.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-1">
            <h2 class="text-uppercase heading mb-4">Istoria echipei</h2>
            <p class="mb-3">Experiență acumulată în peste 20 de ani</p>

            <ul class="list-unstyled check">
              <li>Construcții</li>
              <li>Renovări</li>
              <li>Reparații</li>
            </ul>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6 order-lg-1 mb-5">
            <img src="img/slider-2.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-3">
            <h2 class="text-uppercase heading mb-4">Proiecte mari și mici</h2>
            <p class="mb-3">Atât în țară, cât și în străinătate.</p>

            <ul class="list-unstyled check">
              <li>Companii mari</li>
              <li>Proiecte industriale</li>
              <li>Proiecte personale</li>
            </ul>
          </div>
          
        </div>
      </div>
    </section>