<style>
  .btn:focus,
  .btn:active,
  button:focus,
  button:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }

  #image-gallery .modal-content {
    display: block;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .thumb {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<section class="home-slider  inner-page owl-carousel">
  <div class="slider-item" style="background-image: url('img/slider-1.jpg');">

    <div class="container">
      <div class="row slider-text align-items-center justify-content-center text-center">
        <div class="col-md-7 col-sm-12 element-animate">
          <h1>Proiectele noastre în decursul a 20 de ani</h1>
        </div>
      </div>
    </div>

  </div>


</section>
<!-- END slider -->

<section class="section">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 element-animate">
        <a class="link-thumbnail" data-image-id="1" data-toggle="modal" data-title="Bucătării"
          data-image="img/poza1.jfif" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza1.jfif" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a class="link-thumbnail" data-image-id="2" data-toggle="modal" data-title="Finisaj interior"
          data-image="img/poza2.jpg" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza2.jpg" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 element-animate">
        <a class="link-thumbnail" data-image-id="3" data-toggle="modal" data-title="Amenajări exterioare"
          data-image="img/poza3.jpg" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza3.jpg" alt="Image placeholder" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 px-0 element-animate">
        <a class="link-thumbnail" data-image-id="4" data-toggle="modal" data-title="Instalații sanitare"
          data-image="img/poza4.jpg" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza4.jpg" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 px-0 element-animate">
        <a class="link-thumbnail" data-image-id="5" data-toggle="modal" data-title="Construcție case"
          data-image="img/poza5.jpg" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza5.jpg" alt="Image placeholder" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 px-0 element-animate">
        <a class="link-thumbnail" data-image-id="6" data-toggle="modal" data-title="Renovări case"
          data-image="img/poza6.jpg" data-target="#image-gallery">
          <span class="ion-plus icon"></span>
          <img src="img/poza6.jpg" alt="Image placeholder" class="img-fluid">
        </a>
      </div>

    </div>
  </div>
</section>

<section class="container cta-overlap">
  <div class="text d-flex">
    <h2 class="h3">Dacă doriți să ne lăsați un mesaj, nu ezitați să ne contactați.</h2>
    <div class="ml-auto btn-wrap">
      <a href="/reviews" class="btn-cta btn btn-outline-white">Mesaj nou</a>
    </div>
  </div>
</section>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="image-gallery-title"></h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
            class="sr-only">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i
            class="fa fa-arrow-left"></i>
        </button>

        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i
            class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  let modalId = $('#image-gallery');

  $(document)
    .ready(function () {

      loadGallery(true, 'a.link-thumbnail');

      //This function disables buttons when needed
      function disableButtons(counter_max, counter_current) {
        $('#show-previous-image, #show-next-image')
          .show();
        if (counter_max === counter_current) {
          $('#show-next-image')
            .hide();
        } else if (counter_current === 1) {
          $('#show-previous-image')
            .hide();
        }
      }

      /**
       *
       * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
       * @param setClickAttr  Sets the attribute for the click handler.
       */

      function loadGallery(setIDs, setClickAttr) {
        let current_image,
          selector,
          counter = 0;

        $('#show-next-image, #show-previous-image')
          .click(function () {
            if ($(this)
              .attr('id') === 'show-previous-image') {
              current_image--;
            } else {
              current_image++;
            }

            selector = $('[data-image-id="' + current_image + '"]');
            updateGallery(selector);
          });

        function updateGallery(selector) {
          let $sel = selector;
          current_image = $sel.data('image-id');
          $('#image-gallery-title')
            .text($sel.data('title'));
          $('#image-gallery-image')
            .attr('src', $sel.data('image'));
          disableButtons(counter, $sel.data('image-id'));
        }

        if (setIDs == true) {
          $('[data-image-id]')
            .each(function () {
              counter++;
              $(this)
                .attr('data-image-id', counter);
            });
        }
        $(setClickAttr)
          .on('click', function () {
            updateGallery($(this));
          });
      }
    });

  // build key actions
  $(document)
    .keydown(function (e) {
      switch (e.which) {
        case 37: // left
          if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
            $('#show-previous-image')
              .click();
          }
          break;

        case 39: // right
          if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
            $('#show-next-image')
              .click();
          }
          break;

        default:
          return; // exit this handler for other keys
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
    });

</script>