<h2 class="text-center">Autentifică-te pentru a vizualiza pagina</h2>
<img  src="./img/401.png" class="mx-auto d-block">
<p class="text-center lead"> <strong> Te rugăm să te înregistrezi sau să intri în cont <a href="/users/login" title="Login">aici</a> pentru a accesa pagina.</strong></p>